{% extends "base.html" %}

{% load bootstrap %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="row text-center">
    <h2>Login to your Acacia Trading Account</h2>
</div>
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <ul class="nav nav-tabs nav-login">
            <li class="active"><a href="#">Login</a></li>
            <li><a href="{% url 'registration_register' %}?next={{ next }}">Register</a></li>
        </ul>
        <div class="row well">
            <form role="form" method='post' action='.'>
                {% csrf_token %}
                {{ form|bootstrap }}
                <div class="row text-center">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </div>
            </form>
        </div>
        <p class="text-center">Forgot password? <a href="{% url 'auth_password_reset' %}">Reset it</a>!</p>
        {% include "registration/social_login.html" %}
    </div>
    <div class="col-sm-6"></div>
</div>
{% endblock %}
