<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <p>
            The various indicators and settings in the control panel can be hard to understand
            at first. This section provides explanations and tips to help you get started.
        </p>
        <div class="spacer well">
            <h4 class="text-center">General Settings</h4>
            <h5>Moving Average Crossover</h5>
            <p>
                This strategy uses 2 different moving averages. Once the shorter moving average is
                 a specified percentage <strong>above</strong> the longer moving average, a 
                 <strong>buy</strong> order is triggered. When the shorter is a specific percentage 
                 <strong>below</strong> than the longer average, a <strong>sell</strong> order is
                 triggered. 
            </p>
        </div>
        <div class="spacer well">
            <h4 class="text-center">Different Moving Averages</h4>
            <h5>EMA (Exponential Moving Average)</h5>
            <p>
                An Exponential Moving Average weights the most recent values more than the past ones
                 over a given span of time. The amount of weight each price holds decreases exponentially.
            </p>
            <h5>SMA (Simple Moving Average)</h5>
            <p>
                A Simple Moving Average is the average of all of the prices in a given time span, with all of 
                the values weighted equally.
            </p>
            <h5>TMA (Triangular Moving Average)</h5>
            <p>
                A Triangular Moving Average is a weighted average of SMA values for a given time span.
            </p>
            <h5>WMA (Weighted Moving Average)</h5>
            <p>
                An Weighted Moving Average weights the most recent values more than the past ones
                 over a given span of time. The amount of weight each price holds decreases linearly.
            </p>
        </div>
        <div class="spacer well">
            <h4 class="text-center">Advanced Settings</h4>
            <h5>MACD (Moving Average Convergence Divergence)</h5>
            <p>
                The MACD is calculated by subtracting the 26-interval exponential moving average (EMA) from 
                the 12-interval EMA. A nine-interval EMA of the MACD, called the "signal line", is then plotted 
                on top of the MACD, functioning as a trigger for buy and sell signals.
            </p>
            <h5>RSI (Relative Strength Index)</h5>
            <p>
                RSI oscillates between 0 and 100. RSI can be used to identify a general trend. 
                According to J. Welles Wilder, the developer of the indicator, an RSI of above 
                70 generally indicates that something is overbought, and an RSI of below 30 indicates 
                that something has been oversold.RSI oscillates between 0 and 100. RSI can be used to 
                identify a general trend. According to J. Welles Wilder, the developer of the indicator, 
                an RSI of above 70 generally indicates that something is overbought, and an RSI of below 
                30 indicates that something has been oversold. 
            </p>
            <h5>ROC (Rate of Change)</h5>
            <p>
                The rate of change is essentially the slope of the price of Bitcoin throughout a time 
                span of 14 intervals. This strategy works with values that are both positive and 
                negative because it is based on the slope.
            </p>
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>